.contenedor-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .title-intro {
    margin-top: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    color: #333;
  }
  
  .contenido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
  }
  
  .contenido-izquierdo {
    flex: 1;
    padding: 20px;
    margin-right: 10px;
    background-color: #fff; /* Fondo azul */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 50%;
  }
  
  .contenido-izquierdo .inner-content {
    background-color: #fff; /* Recuadro blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  
  .contenido-izquierdo p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #555;
  }
  
  .contenido-izquierdo ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .contenido-izquierdo li {
    margin-bottom: 10px;
    color: #555;
  }
  
  .contenido-izquierdo li strong {
    color: #333;
  }
  
  .botones-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
  }
  
  .btn-intro:hover {
    background-color: #0056b3;
    text-decoration: none;
  }
  
  .contenido-derecho {
    /* flex: 1; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 20px;
    background-color: #fff; /* Fondo azul */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 50%;
  }
  
  .contenido-derecho .inner-content {
    background-color: #fff; /* Recuadro blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  
  .mascota {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .img-intro {
    max-width: 100%;
    /* height: auto;
  border-radius: 8px;
    display: block; */
    margin-bottom: 20px;
  }
  
  .block-div {
    border: 0;
    opacity: 0.3;
    width: 75%;
    margin: 20px auto;
    background-color: rgb(69, 68, 68);
    height: 2px;
  }
  
  .centered-paragraph {
    text-align: center;
  }
  
  @media (max-width: 1250px) {
    .contenido {
      flex-direction: column;
    }
    .contenido-derecho {
      display: none;
    }
    .botones-intro {
      display: flex;
    }
    .contenido-izquierdo {
      margin: 0;
      padding: 50px;
    }
    .video {
      width: 450px;
      height: 345px;
    }
  }
  
  .contenedor-video {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-video-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }